var replacement_html = `<div class="row">
        <div class="col-md-8 col-md-offset-2" id="listings">
          <%- unless @listings.blank? -%>
          

          <h3>Listings</h3>
          <table class="table">
            <thead>
              <th></th>
              <th><a href="#" class="sort-link update-filters<% if @sort_by === "service" %> active<% end %>" data-col="service" data-sort-direction="<% if @sort_by === "service" %><%= @sort_direction %><% else %>none<% end %>">Service <span class="fa <% if @sort_by === "service" %><%= "fa-sort-amount-#{@sort_direction}" %><% else %>fa-sort<% end %>"></span></a></th>
              <th><a href="#" class="sort-link update-filters<% if @sort_by === "listed_at" %> active<% end %>" data-col="listed_at" data-sort-direction="<% if @sort_by === "listed_at" %><%= @sort_direction %><% else %>none<% end %>">Date <span class="fa <% if @sort_by === "listed_at" %><%= "fa-sort-amount-#{@sort_direction}" %><% else %>fa-sort<% end %>"></span></a></th>
              <th class="tbl-last-col"><a href="#" class="sort-link update-filters<% if @sort_by === "title" %> active<% end %>" data-col="title" data-sort-direction="<% if @sort_by === "title" %><%= @sort_direction %><% else %>none<% end %>">Job Title <span class="fa <% if @sort_by === "title" %><%= "fa-sort-amount-#{@sort_direction}" %><% else %>fa-sort<% end %>"></span></a></th>
            </thead>

            <tbody>
              <% bg_color = "ededed" %>
              <% @listings.each do |listing| %>
              <tr class="tbl-data-row" style="background-color: #<%= bg_color %>;">
                <td class="tbl-cols listing-ctrl-btns" data-id="<%= listing.id %>">
                  <a href="javascript:void(0);" class="action-btns expand-rec" title="Show listing details."><%= image_tag "plus.png" %></a>
                  <a href="javascript:void(0);" class="action-btns collapse-rec" style="display: none;" title="Hide listing details."><%= image_tag "minus.png" %></a>
                  
                  <%# Handle bookmarked listings. %>
                  <% display_icon = listing.users.first.nil? ? ["none","inline"] : ["inline","none"] %>
                  <a href="javascript:void(0);" class="action-btns save-listing" title="Save this listing.">
                    <%= image_tag "bookmark", class: "bookmarkers fa-bookmark", style: "display: #{display_icon[0]};" %><%= image_tag "bookmark_gray", class: "bookmarkers fa-bookmark-o", style: "display: #{display_icon[1]};" %>
                  </a>
                  
                  <%# Handle bidding. %>
                  <% unless @user_bids.include? listing.id %>
                  <a href="#" class="job-bid-message-link" data-target="#job_bid_message_modal" data-toggle="modal" data-bulk="<%= listing.service.bulkreply %>" data-id="<%= listing.id %>" title="Bid on this job."><%= image_tag "hammer" %></a>
                  <% else %>
                  <small data-id="<%= listing.id %>"><%= image_tag "hammer_checked" %></small>
                  <% end %>
                  
                </td>
                <td class="tbl-cols"><%= listing.service.name %><%= raw("<span style='font-size: 8.5pt;' title='When you are bidding on jobs from #{listing.service.name.titleize}, you can create one message and send it to all bookmarks that support bulk applying.'><br/>Supports bulk applying!</span>") if listing.service.bulkreply %></td>
                <td class="tbl-cols"><%= listing.listed_at.strftime("%B %e, %Y") unless listing.listed_at.blank? %></td>
                <td class="tbl-last-col"><a class="listing-link listing-title" href="<%= listing.url %>" data-id="<%= listing.id %>" target="_BLANK"><%= listing.title.truncate(65) %></a></td>
              </tr>
              <tr class="tbl-content-row" style="display: none; background-color: #e7f6f1;">
                <td colspan="4" class="listings-content">
                  <pre style="width: 720px;" class="listing-desc"><%= simple_format( listing.descr.strip ).gsub(URI.regexp, '<a href="\0" target="_BLANK">\0</a>').html_safe %></pre>
                </td>
              </tr>
              <% if bg_color === "ededed"
                bg_color = "d6d6d6"
              else
                bg_color = "ededed"
              end %>
              <% end %>
            </tbody>
          </table>
          <%- else -%>
          <div class="row">
            <div class="col-md-12"><h2>No listings found matching your criteria.</h2></div>
          </div>
          <%- end -%>
      </div>
    </div>
    <%- unless @listings.blank? -%>
    <div class="row">
      <div class="col-md-12" style="text-align: center;" id="listings_pagination"><%= paginate @listings, remote: true %></div>
    </div>
    <%- end -%>`

$("#listings_container").html(replacement_html);