<h1>Reddit Results</h1>
<div><%= @json %></div>
<p>
  <% @json["data"]["children"].each do |j| %>
    <% j["data"].each do |item| %>
      <%= item["selftext"] %>
      <p><%#= i["title"] %></p>
      <br/><br/><hr/>
    <% end %>
  <% end %>
</p>