<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @listing.service %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @listing.desc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @listing.url %>
</p>

<p>
  <strong>Listed at:</strong>
  <%= @listing.listed_at %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
