var replacement_html;

replacement_html=`<div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <thead>
          <td>Won</td>
          <td>Bid Date</td>
          <td>Service</td>
          <td>Job</td>
          <td>Mark as Won</td>
          <td>Delete Bid</td>
        </thead>
        <tbody>
        <% @bids.each do |bid| %>
        <tr>
          <td><span class="fa fa-trophy"></span></td>
          <td><%= bid.bid_at.strftime("%B %e, %Y") %></td>
          <td><%= bid.listing.service.name.titleize %></td>
          <td><%= bid.listing.title %></td>
          <td style="text-align: center;"><button class="btn btn-success"><span class="fa fa-trophy"></span></button></td>
          <td style="text-align: center;">
            <%= button_to job_bid_path(id: bid.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", remote: true do %>
              <span class="fa fa-trash"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>`

$("#bid_report_container").html(replacement_html);