<div class="container" id="bid_report_container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= link_to "Export .csv", job_bids_path(format: "csv", duration: @bid_duration), class: "pull-right btn btn-default" %>
      <div style="text-align: center;">
        <div class="btn-group">
            <%= link_to "All Bids", job_bids_path(duration: "all"), class: "btn btn-primary#{ " active" if @bid_duration === "all" }" %>
            <%= link_to "Last 30 Days", job_bids_path(duration: "30_days"), class: "btn btn-primary#{ " active" if @bid_duration === "30_days" }" %>
            <%= link_to "Last 90 Days", job_bids_path(duration: "90_days"), class: "btn btn-primary#{ " active" if @bid_duration === "90_days" }" %>
            <%= link_to "Last 6 Months", job_bids_path(duration: "6_months"), class: "btn btn-primary#{ " active" if @bid_duration === "6_months" }" %>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <td>Won</td>
          <td>Bid Date</td>
          <td>Service</td>
          <td>Job</td>
          <td>Msg Info</td>
          <td>Mark As Won</td>
          <td>Delete Bid</td>
        </thead>
        <tbody>
        <% @bids.each do |bid| %>
        <tr>
          <td style="text-align: center;" class="won-field"><%= raw("<span class='fa fa-trophy' title='#{bid.won_at.strftime("%B %e, %Y")}'></span>") unless bid.won_at.blank? %></td>
          <td><%= bid.bid_at.strftime("%B %e, %Y") %></td>
          <td><%= bid.listing.service.name.titleize %></td>
          <td><%= bid.listing.title %></td>
          <td style="text-align: center;"><button class="btn btn-default msg-info-btn" data-subj="<%= bid.subj %>" data-body="<%= bid.message %>" data-message-type="<%= bid.message_type %>"><span class="fa fa-envelope"></span></button></td>
          <td style="text-align: center;"><button class="btn btn-success bid-won-btn" data-id="<%= bid.id %>"><span class="fa fa-trophy"></span></button></td>
          <td style="text-align: center;">
            <%= button_to job_bid_path(id: bid.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
              <span class="fa fa-trash"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="modal fade pg-show-modal" id="bid_message_details_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Message Details</h4>
      </div>
      <div class="modal-body">
        <div id="bid_message_type" class="leading"></div>
        <div id="bid_message_subj" class="leading" style="margin-top: 25px;"></div>
        <p id="bid_message_body" class="template-body" style="margin-top: 25px; max-height: 200px; overflow: scroll-x;"></p>
        <%# <div class="modal-footer" id="bid_message_details_footer" style="display: none;">
          <button type="button" class="btn btn-default" id="save_msg_as_user_msg"><span class="fa fa-envelope-o"></span>&nbsp;Save As User Message Template</button>
        </div> %>
      </div>
    </div>
  </div>
</div>