<div class="modal fade pg-show-modal" id="account_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Account</h4>
            </div>
            <div class="modal-body">
                <h1>Account Details</h1>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#personal_details" data-toggle="tab">Personal Details</a>
                    </li>
                    <li>
                        <a href="#service_accounts" data-toggle="tab">Service Accounts</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="personal_details">
                        <label style="width: 100%;" for="account_email">Email:
                            <input type="text" class="form-control" style="width: 100%;" name="" id="account_email" placeholder="email">
                        </label>
                        <br />
                        <label style="width: 100%;" for="account_password">Password:
                            <input type="password" class="form-control" style="width: 100%;" name="" id="account_password" placeholder="password">
                        </label>
                        <br />
                        <label style="width: 100%;" for="account_password">Confirm Password:
                            <input type="password" class="form-control" style="width: 100%;" name="" id="confirm_account_password" placeholder="password">
                        </label>
                    </div>
                    <div class="tab-pane" id="service_accounts">
                        <% unless @tokens.include? 1 %>
                      <div style="margin-bottom: 20px;">
                        <div class="pull-right">
                          <%= link_to "/auth/reddit", class: "btn btn-default btn-sm" do %>
                            <span class="fa fa-plug"></span> Connect
                          <% end %> or 
<!--                           <a href="https://www.reddit.com/api/v1/authorize?client_id=<%= Rails.application.secrets.reddit_key %>&response_type=code&state=<%= current_user.id %>_rdt&redirect_uri=<%= Rails.application.secrets.callback_uri %>/reddit/callback&duration=permanent&scope=identity edit flair history mysubreddits privatemessages read" target="_BLANK" class="btn btn-default btn-sm"><span class="fa fa-plug"></span> Connect</a> or -->
<!--                      <a href="https://www.reddit.com/api/v1/authorize?client_id=<%= Rails.application.secrets.reddit_key %>&response_type=code&state=<%= current_user.id %>_rdt&redirect_uri=<%= Rails.application.secrets.callback_uri %>/rdt/callback&duration=permanent&scope=identity edit flair history modconfig modflair modlog modposts modwiki mysubreddits privatemessages read" target="_BLANK" class="btn btn-default btn-sm"><span class="fa fa-plug"></span> Connect</a> or -->
                          <a href="https://www.reddit.com/login" target="_BLANK" class="btn btn-primary btn-sm">+ Sign Up</a>
                        </div>
                        <label style="margin: 10px 0 10px 0;" for="">Reddit</label>
                          <p class="template-body">Reddit bridges communities and individuals with ideas, the latest digital trends, and breaking news (...okay, and maybe cats). Our mission is to help people discover places where they can be their true selves, and empower our community to flourish.</p>
<!--                         <input type="text" name="" id="" class="form-control" placeholder="username">
                        <input type="password" name="" id="" class="form-control" placeholder="password"> -->
                      </div>
                      <% end %>
                      <% unless @tokens.include? 2 %>
                      <div style="margin-bottom: 20px;">
                        <div class="pull-right">
                          <%= link_to "/auth/upwork", class: "btn btn-default btn-sm" do %>
                            <span class="fa fa-plug"></span> Connect
                          <% end %> or 

                          <a href="https://www.upwork.com/signup" target="_BLANK" class="btn btn-primary btn-sm">+ Sign Up</a>
                        </div>
                        <label style="margin: 10px 0 10px 0;" for="">UpWork</label>
                          <p class="template-body">Whether you need one writer or an entire team of programmers, we help you find the right experts to fuel your success. Our freelancing website lets you work effortlessly with freelancers anywhere. Say goodbye to business as usual.</p>
                      </div>
                      <% end %>
                      <% unless @tokens.include? 3 %>
                      <div style="margin-bottom: 20px;">
                        <div class="pull-right">
                          <%= link_to "/auth/twitter", class: "btn btn-default btn-sm" do %>
                            <span class="fa fa-plug"></span> Connect
                          <% end %> or 
                          <a href="https://twitter.com/signup" target="_BLANK" class="btn btn-primary btn-sm">+ Sign Up</a>
                        </div>
                        <label style="margin: 10px 0 10px 0;" for="">Twitter</label>
                          <p class="template-body">Twitter is an online news and social networking service where users post and interact with messages, "tweets," restricted to 140 characters. </p>
                      </div>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>