<div class="modal fade pg-show-modal" id="job_bid_message_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Messages</h4>
      </div>
      <div class="modal-body">
        <!--         <button class="btn btn-default pull-right create-usr-msg" type="button"><span class="fa fa-plus highlighted-icon"></span>&nbsp;New Template</button> -->
        <div class="leading modal-body-title">Message Templates</div>
        <ul class="list-group" id="message_templates_list_bid" style="height: 250px; overflow-y: scroll;">
          <% @templates.each do |tmpl| %>
          <%= link_to bid_message_default_path(tmpl), class: "bid-message-items", remote: true do %>
              <li class="list-group-item"<%= raw(' style="background-color: #D9EDF7;" title="Best converting template."') if @best_msg["type"] === "template" && @best_msg["id"] === tmpl.id %>>
                <h4 class="leading"><%= raw(' <span class="fa fa-star"></span>&nbsp;') if @best_msg["type"] === "template" && @best_msg["id"] === tmpl.id %><%= tmpl.title %></h4>
                <small class="template-body"><%= tmpl.body.truncate(200) %></small>
              </li>
            <% end %>
            <% end %>

              <% @user_templates.each do |tmpl| %>
          <%= link_to user_message_path(tmpl), class: "bid-message-items", data: {id: tmpl.id}, remote: true do %>
                  <li class="list-group-item"<%= raw(' style="background-color: lime;"') if tmpl.id = @best_msg["type"] === "user" && @best_msg["id"] === tmpl.id %>>
                    <h4 class="leading"><% if @best_msg["type"] === "user" && @best_msg["id"] === tmpl.id %><span class="fa fa-star" title="Best converting template."></span>&nbsp;<% end %><%= tmpl.title %></h4>
                    <small class="template-body"><%= tmpl.body.truncate(200) %></small>
                  </li>
          <% end %>
                <% end %>
        </ul>

        <span id="bid_subj_group">
          <input type="hidden" id="message_id" value="" />
          <input type="hidden" id="message_type" value="custom" />
          <label for="bid_message_subj">Subject (used by Reddit)</label>
          <input type="text" name="" id="bid_message_subj" class="form-control" />
        </span>
        <span id="bid_message_group">
          <label for="bid_message_text">Message</label>
          <textarea id="bid_message_text" cols="30" rows="4" style="width: 100%;"></textarea>
        </span>
        <span id="bid_twitter_group">
          <label for="bid_message_twitter">Twitter Message (140 chars max)</label>
          <input type="text" name="" id="bid_message_twitter" class="form-control" />
          <span class="pull-right"><small id="bid_message_twitter_char_count">0</small> <small>chars</small></span>
        </span>
        <div class="panel panel-default" id="message_preview_panel" style="display: none;">
          <div class="panel-heading" id="message_preview_title"></div>
          <div class="panel-body" id="message_preview_body"></div>
        </div>
        <div class="panel panel-default" id="message_edit_panel" style="display: none;">
          <div class="panel-heading" id="message_edit_title">
            <span class="fa fa-times close-message-preview pull-right"></span>Edit message template
          </div>
          <div class="panel-body" id="message_edit_body">
            <label for="message_edit_title_input">Title</label>
            <input type="text" name="" id="message_edit_title_input" class="form-control" />
            <label for="message_editor_textarea">Message</label>
            <textarea name="" id="message_editor_textarea" style="width: 100%;" rows="10"></textarea>
            <button class="btn btn-info pull-right" style="margin-top: 10px;" type="button" id="save_cloned_template" data-template-id=""><span class="fa fa-floppy-o"></span>&nbsp;Save</button>
            <input type="hidden" name="" id="message_edit_mode" value="" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="clipboard_copy_btn" data-clipboard-target="#bid_message_text">Copy to clipboard</button>
        <button type="button" class="btn btn-default" data-type="" data-id="" data-dismiss="modal" id="job_bid_btn"></button>
      </div>
    </div>
  </div>
</div>