<div class="modal fade pg-show-modal" id="job_bid_report_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Jobs</h4>
            </div>
            <div class="modal-body">
                <h1>Job Bid Report</h1>
                <label class="control-label">
<!--                     <input type="radio" name="bid_report" value="7days" checked /> -->
                    <a href="/bid/7/report" class="btn btn-default"><span class="fa fa-binoculars"></span> View Report</a> Bids made in the last 7 days
                </label>
                <br />
                <label class="control-label">
                    <a href="/bid/30/report" class="btn btn-default"><span class="fa fa-binoculars"></span> View Report</a> Bids made in the last 30 days
<!--                     <input type="radio" name="bid_report" value="30days" />        Bids made in the last 30 days -->
                </label>
                <br />
                <label class="control-label">
                  <a href="/bid/all/report" class="btn btn-default"><span class="fa fa-binoculars"></span> View Report</a> All bids made
<!--                     <input type="radio" name="bid_report" value="all" />        All bids made -->
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>