<div class="modal fade pg-show-modal" id="message_templates_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Messages</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-default pull-right create-usr-msg" type="button"><span class="fa fa-plus highlighted-icon"></span>&nbsp;New Template</button>
        <div class="leading modal-body-title">Message Templates</div>
        <ul class="list-group message-templates-list" id="message_templates_list">
          <% @templates.each do |tmpl| %>
            <li class="list-group-item">
              <span class="pull-right"><button class="btn btn-default edit-message-template" type="button" data-id="<%= tmpl.id%>"><span class="fa fa-pencil-square-o highlighted-icon"></span>&nbsp;Copy & Edit</button>
              </span>
              <h4 class="leading"><%= tmpl.title %></h4>
              <!--                     <div class="radio radio-default">
                      <span class="pull-right fa fa-eye preview-message-template" data-id="<%= tmpl.id %>"></span>
                      <span class="pull-right fa fa-pencil-square-o edit-message-template" data-id="<%= tmpl.id %>"></span>
                      <input type="radio" name="items" id="tmpl_<%= tmpl.id %>" value="item<%= tmpl.id %>"><label style=""><%= tmpl.title %></label>
                    </div> -->
              <small class="template-body"><%= tmpl.body.truncate(200) %></small>
            </li>
            <% end %>
          
            <% @user_templates.each do |tmpl| %>
              <li class="list-group-item">
                <span class="pull-right">
                  <div class="btn-group" role="group">
                    <button class="btn btn-sm btn-default clone-usr-msg" type="button" data-id="<%= tmpl.id%>" title="Copy & edit message"><span class="fa fa-clone highlighted-icon"></span></button>
                    <button class="btn btn-sm btn-default edit-usr-msg" type="button" data-id="<%= tmpl.id%>" title="Edit message"><span class="fa fa-pencil-square-o highlighted-icon"></span></button>
                    <button class="btn btn-sm btn-default del-usr-msg" type="button" data-id="<%= tmpl.id%>" title="Delete message"><span class="fa fa-minus highlighted-icon"></span></button>
                  </div>
                  
                </span>
                <h4 class="leading"><%= tmpl.title %></h4>
                <small class="template-body"><%= tmpl.body.truncate(200) %></small>
              </li>
              <% end %>
        </ul>
        <div class="panel panel-default" id="message_preview_panel" style="display: none;">
          <div class="panel-heading" id="message_preview_title"></div>
          <div class="panel-body" id="message_preview_body"></div>
        </div>
        <div class="panel panel-default" id="message_edit_panel" style="display: none;">
          <div class="panel-heading" id="message_edit_title">
            <span class="fa fa-times close-message-preview pull-right"></span>Edit message template
          </div>
          <div class="panel-body" id="message_edit_body">
            <label for="message_edit_title_input">Title</label>
            <input type="text" name="" id="message_edit_title_input" class="form-control" />
            <label for="message_editor_textarea">Message</label>
            <textarea name="" id="message_editor_textarea" style="width: 100%;" rows="10"></textarea>
            <button class="btn btn-info pull-right" style="margin-top: 10px;" type="button" id="save_cloned_template" data-template-id=""><span class="fa fa-floppy-o"></span>&nbsp;Save</button>
            <input type="hidden" name="" id="message_edit_mode" value="" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>