<div class="modal fade pg-show-modal" id="messages_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Notifications</h4>
            </div>
          
            <div class="modal-body" id="message_replies_modal_body">
            <%- if @reddit_messages.count + @twitter_messages.count < 1 -%>
              <div class="alert alert-success" role="alert"><span class="fa fa-thumbs-o-up"></span>&nbsp;No new messages.</div>
            <%- else -%>
              <%- if @reddit_messages.count > 0 -%>
              <div class="panel panel-default" id="reddit_reply_panel">
                  <div class="panel-heading" id="message_reply_title"><button type="button" class="btn btn-xs btn-default pull-right" id="clear_all_reddit_btn">Clear All</button>Reddit&nbsp;<span class="badge" id="reddit_message_count"><%= @reddit_messages.count %></span></div>
                  <div class="panel-body" id="reddit_reply_body">
                    <ul class="list-group">
                        <% @reddit_messages.each do |msg| %>
                        <li class="list-group-item"><a href="https://www.reddit.com/message/unread" target="_BLANK" class="btn btn-xs btn-default pull-right reply-on-reddit-btn" data-id="<%= msg.id %>">Reply on Reddit</a>
                          <%= msg.title %>
                          <br/><small><%= msg.body %></small>
                        </li>
                        <% end %>
                    </ul>
                  </div>
              </div>
              <% end %>
              
              <%- if @twitter_messages.count > 0 -%>
              <div class="panel panel-default" id="twitter_reply_panel">
                  <div class="panel-heading" id="message_reply_title"><button type="button" class="btn btn-xs btn-default pull-right" id="clear_all_twitter_btn">Clear All</button>Twitter&nbsp;<span class="badge" id="twitter_message_count">1</span></div>
                  <div class="panel-body" id="message_reply_body">
                    <ul class="list-group">
                        <% @twitter_messages.each do |msg| %>
                        <li class="list-group-item"><a href="https://twitter.com/" target="_BLANK" class="btn btn-xs btn-default pull-right reply-on-twitter-btn" data-id="<%= msg.id %>">Reply on Twitter</a>
                        <%= msg.title %>
                        <br/><small><%= msg.body %></small>
                      </li>       
                        <% end %>
                    </ul>
                  </div>
              </div>
            <% end %>
          <%- end -%>
          </div>
          
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>