<div class="modal fade pg-show-modal" id="notifications_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Notifications</h4>
            </div>
            <div class="modal-body" id="notifications_modal_body">
                <button type="button" class="btn btn-default" style="margin-bottom: 20px;" id="clear_notifications_btn">Clear Notifications</button>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger"></span><span class="fa fa-warning"></span>&nbsp;Cannot retrieve messages from Reddit.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>