<div id="filter_drawer" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold sidenav" aria-labelledby="filter_drawer">
  <div class="drawer-contents">
    <div class="drawer-heading">
      <div class="pull-right">
        <a href="#filter_pin" id="drawer_pin" class="drawer-settings" style="float: left; padding: 2px;"><span class="fa fa-thumb-tack fa-rotate-90"></span></a>
        <a href="#filter_drawer" class="drawer-settings" style="float: left; padding: 2px;" data-toggle="drawer" onclick="closeNav()"><span class="fa fa-times"></span></a>
        <div style="clear: both;"></div>
      </div>
      <h2 class="drawer-title">Search & Filter</h2>
    </div>
    <div class="drawer-body">
      <p>Search, filter, and remix your job listings so you can find what you're looking for fast.</p>
      <p>
        <div class="input-group" style="width: 100%;">
          <span class="input-group-btn text-search-btn" id="clear_search_btn"><button type="button" class="btn btn-default">
                        <i class="fa fa-times" title="clear"></i>
                    </button></span>
          <input type="text" class="form-control text-search-btn" id="search_text" placeholder="Search" value="<%= @settings[:search].strip unless @settings[:search].blank? %>" />
              <span class="input-group-btn" id="execute_search_btn"><button type="button" class="btn btn-info">
                        <i class="fa fa-search"></i>
                    </button></span>
        </div>
      </p>
      <h3>Search in</h3>
      <div style="padding: 5px 0 5px 15px;">
        <input type="checkbox" id="search_title_toggle" <%="checked" if @settings[:title] === "true" || @settings[:title].blank? %> data-toggle="toggle" data-size="small" data-onstyle="success">&nbsp;&nbsp;Title
      </div>

      <div style="padding: 5px 0 5px 15px;">
        <input type="checkbox" id="search_post_toggle" <%="checked" if @settings[:post] === "true" || @settings[:post].blank? %> data-toggle="toggle" data-size="small" data-onstyle="success">&nbsp;&nbsp;Post
      </div>
    
      <div style="padding: 5px 0 5px 15px;">
        <button type="button" class="btn btn-defaut update-filters"><span class="fa fa-refresh"></span> Update Listings</button>
      </div>
      
      <h3>Filter by Service</h3>
      <div style="padding: 5px 0 5px 15px;">
        <input class="service-provider" type="checkbox" <% unless @settings[:services].blank? %><%= "checked" if @settings[:services].include? "upwork" %><% else %>checked<% end %> id="upwork" data-toggle="toggle" data-size="small" data-onstyle="success">&nbsp;&nbsp;
        <%#= render "partials/upwork-icon-svg" %>Upwork
      </div>
      <div style="padding: 5px 0 5px 15px;">
        <input class="service-provider" type="checkbox" <% unless @settings[:services].blank? %><%= "checked" if @settings[:services].include? "reddit" %><% else %>checked<% end %> id="reddit" data-toggle="toggle" data-size="small" data-onstyle="success">&nbsp;&nbsp;
        <!--span class="fa fa-reddit"></span-->Reddit
      </div>
      <div style="padding: 5px 0 5px 15px;">
        <input class="service-provider" type="checkbox" <% unless @settings[:services].blank? %><%= "checked" if @settings[:services].include? "twitter" %><% else %>checked<% end %> id="twitter" data-toggle="toggle" data-size="small" data-onstyle="success">&nbsp;&nbsp;
        <!--span class="fa fa-twitter"></span-->Twitter
      </div>
      <div style="padding: 5px 0 5px 15px;">
        <input class="service-provider" type="checkbox" <% unless @settings[:services].blank? %><%= "checked" if @settings[:services].include? "peopleperhour" %><% else %>checked<% end %> id="peopleperhour" data-toggle="toggle" data-size="small" data-onstyle="success">&nbsp;&nbsp;PeoplePerHour
      </div>
      <div style="padding: 5px 0 5px 15px;">
        <input class="service-provider" type="checkbox" <% unless @settings[:services].blank? %><%= "checked" if @settings[:services].include? "guru" %><% else %>checked<% end %> id="guru" data-toggle="toggle" data-size="small" data-onstyle="success">&nbsp;&nbsp;Guru
      </div>
      <div style="padding: 5px 0 5px 15px;">
        <button type="button" class="btn btn-defaut update-filters"><span class="fa fa-refresh"></span> Update Listings</button>
      </div>
      <!--             <div class="btn-group-vertical" data-toggle="buttons" style="width: 100%;" id="services_btns_grp">
                <label class="btn btn-default active" id="service_upwork">
                    <input type="checkbox" name="services_filters" value="upwork" checked> UpWork
                </label>
                <label class="btn btn-default active" id="service_reddit">
                    <input type="checkbox" name="services_filters" value="reddit" checked>
                    <span class="fa fa-reddit"></span> Reddit
                </label>
                <label class="btn btn-default active" id="service_twitter">
                    <input type="checkbox" name="services_filters" value="twitter" checked>
                    <span class="fa fa-twitter"></span> Twitter
                </label>
                <label class="btn btn-default active" id="service_freelancer">
                    <input type="checkbox" name="services_filters" value="freelancer" checked>
                    <span class="fa fa-twitter"></span> Freelancer
                </label>
                <label class="btn btn-default active" id="service_guru">
                    <input type="checkbox" name="services_filters" value="guru" checked>
                    <span class="fa fa-twitter"></span> Guru
                </label>
            </div> -->
      <h3>Bulk application capababilty</h3>
      <p>We can send and receive messages from PixxlyJobFinder for some services. When you're bidding on jobs for those services, you can create one message and send it to your bookmarks that support this feature.</p>
      <div class="radio" style="padding: 5px 0 5px 15px;">
        <label><input type="radio" name="bulkreply" value="all" <% if @settings[:bulkreply].blank? || @settings[:bulkreply].to_s === "all" %>checked<% end %>>All Listings</label>
      </div>
      <div class="radio" style="padding: 5px 0 5px 15px;">
        <label><input type="radio" name="bulkreply" value="bulk" <% if @settings[:bulkreply].blank? || @settings[:bulkreply].to_s === "bulk" %>checked<% end %>>Bulk Reply Supported</label>
      </div>
      <div class="radio" style="padding: 5px 0 5px 15px;">
        <label><input type="radio" name="bulkreply" value="no_bulk" <% if @settings[:bulkreply].blank? || @settings[:bulkreply].to_s === "no_bulk" %>checked<% end %>>Without Bulk Reply</label>
      </div>
      <div style="padding: 5px 0 5px 15px;">
        <button type="button" class="btn btn-defaut update-filters"><span class="fa fa-refresh"></span> Update Listings</button>
      </div>

      <h3>View Bookmarked Results Only</h3>
      <div style="padding: 5px 0 5px 15px;">
        <input type="checkbox" id="bookmarked_only_toggle" data-toggle="toggle" data-size="small" data-onstyle="success" <% if @settings[:bookmarks].to_s === "true" %>checked<% end %>>&nbsp;&nbsp;Bookmarked
      </div>
      <div style="padding: 5px 0 5px 15px;">
        <button type="button" class="btn btn-defaut update-filters"><span class="fa fa-refresh"></span> Update Listings</button>
      </div>
      <!--             <button type="button" class="btn btn-default" data-toggle="button" style="width: 100%;">
                <span class="fa fa-bookmark"></span>&nbsp;Bookmarked Only
            </button> -->
    </div>
    <!-- <ul class="drawer-nav">
            <li role="presentation" class="active">
                <a href="#">Home</a>
            </li>
            <li role="presentation">
                <a href="#">Profile</a>
            </li>
            <li role="presentation">
                <a href="#">Messages</a>
            </li>
        </ul> -->
    <div class="drawer-footer">
      <small></small>
    </div>
  </div>
</div>