<!-- Styles for the registration/sign-in pages. -->
<link rel="stylesheet" href="/assets/pixxly_styles.css" />

<style>
  .user-row { text-align: center; }
  .panel-body { background-color: black; }
  .form-control { margin: 5px 0 10px 0; }
</style>

<div class="container">
    <div class="row fs-vertical-offset-100">
      <div class="col-md-4 col-md-offset-4">
        <div class="fs-panel panel-default">
          <div class="panel-heading">
            <div class="row-fluid user-row">
              <%= image_tag "pixxly-job-finder-logo.png", style: "width: 140px; margin: 0 10px 0 50px;", alt: "Pixxly Job Finder", class: "fs-img-responsive" %>
              <%#= image_tag "pixxlyjobfinder-logo.png", alt: "Pixxly Job Finder" , class: "fs-img-responsive", width: "120" %>
            </div>
          </div>
          <div class="panel-body">
            <h4>Forgot your password?</h4>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", placeholder: "user@example.com", autofocus: true %>
              </div>
              <div class="actions">
                <%= f.submit "Send me reset password instructions", class: "btn btn-primary", style: "width: 100%;" %>
              </div>
            <% end %>
            <div style="text-align: center; margin-top: 25px;">
              <%= link_to "Log in", new_user_session_path %> &bull; <%= link_to "Not a member? Sign up here!", new_user_registration_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- <h2>Forgot your password?</h2>

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= devise_error_messages! %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%#= f.submit "Send me reset password instructions" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %>
 -->