<%= form_for(user_message) do |f| %>
  <% if user_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_message.errors.count, "error") %> prohibited this user_message from being saved:</h2>

      <ul>
      <% user_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :bid_message_default_id %>
    <%= f.number_field :bid_message_default_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
