<p id="notice"><%= notice %></p>

<h1>User Messages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Bid message default</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_messages.each do |user_message| %>
      <tr>
        <td><%= user_message.title %></td>
        <td><%= user_message.body %></td>
        <td><%= user_message.bid_message_default_id %></td>
        <td><%= link_to 'Show', user_message %></td>
        <td><%= link_to 'Edit', edit_user_message_path(user_message) %></td>
        <td><%= link_to 'Destroy', user_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Message', new_user_message_path %>
