<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @user_message.body %>
</p>

<p>
  <strong>Bid message default:</strong>
  <%= @user_message.bid_message_default_id %>
</p>

<%= link_to 'Edit', edit_user_message_path(@user_message) %> |
<%= link_to 'Back', user_messages_path %>
