<%= form_for(bid_message_default) do |f| %>
  <% if bid_message_default.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid_message_default.errors.count, "error") %> prohibited this bid_message_default from being saved:</h2>

      <ul>
      <% bid_message_default.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
