<p id="notice"><%= notice %></p>

<h1>Bid Message Defaults</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bid_message_defaults.each do |bid_message_default| %>
      <tr>
        <td><%= bid_message_default.title %></td>
        <td><%= bid_message_default.body %></td>
        <td><%= link_to 'Show', bid_message_default %></td>
        <td><%= link_to 'Edit', edit_bid_message_default_path(bid_message_default) %></td>
        <td><%= link_to 'Destroy', bid_message_default, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bid Message Default', new_bid_message_default_path %>
