<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bid_message_default.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bid_message_default.body %>
</p>

<%= link_to 'Edit', edit_bid_message_default_path(@bid_message_default) %> |
<%= link_to 'Back', bid_message_defaults_path %>
