<!-- Styles for the registration/sign-in pages. -->
<link rel="stylesheet" href="/assets/pixxly_styles.css" />

<style>
  .user-row { text-align: center; }
  .panel-body { background-color: black; }
  .form-control { margin: 5px 0 10px 0; }
</style>
<!-- End registration/sign-in styles. -->

<div class="container">
  <div class="row fs-vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="fs-panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <%= image_tag "pixxly-job-finder-logo.png", style: "width: 140px; margin: 0 10px 0 50px;", alt: "Pixxly Job Finder", class: "fs-img-responsive" %>
            <%#= image_tag "pixxlyjobfinder-logo.png", alt: "Pixxly Job Finder" , class: "fs-img-responsive", width: "120" %>
          </div>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "fs-form-signin") do |f| %>
              <!--form accept-charset="UTF-8" role="form" class="fs-form-signin"-->
              <fieldset>
                <label class="panel-login">
                  <div class="login_result"></div>
                </label>
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
                <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
                <br></br>
                <% if devise_mapping.rememberable? -%>
                    <p style="margin: 0 40px 20px 40px;"><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
                <% end -%>
                <div class="row">
                  <div class="col-sm-6" style="width: 50%;"><%= f.submit "Sign in >>", class: "btn btn-lg btn-success btn-block", style: "width: 100%" %></div>
                  <!--<div class="col-sm-6" style="width: 50%;"><%#= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-info btn-block", id: "register", style: "width: 100%; color: white;" %></div>-->
                </div>
              </fieldset>
              <!--/form-->
          <% end %>

          <!--a href="/users/password/new">Forgot your password?</a-->
          <%= link_to "Forgot your password?", new_user_password_path %>
        </div>
      </div>
    </div>
  </div>
</div>