/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self

 *= require bootstrap
 *= DO NOT require BootSideMenu
 *= DO NOT require bootstrap-drawer
 *= require Supernice
 *= require bootstrap-toggle.min
 *= require style
 */

.navbar-icon-btns
{
    color: #A83333;
    margin-top: 10px;
    font-size: 100;
    margin-left: 15px;
}

.modal-list-items
{
    padding: 0;
    text-align: left;
    list-style: none;
}

input[type="checkbox"]
{
    width: 30px;
}

.remove-keyword-x
{
    float: right;
    cursor: pointer;
}

.completed
{
    text-decoration: line-through;
}

@media (min-width:768px) and (max-width:850px)
{
    #search_and_filter_nav_text
    {
        display: none;
    }
    #messages_nav_text
    {
        display: none;
    }
    #notifications_nav_text
    {
        display: none;
    }
    #jobs_nav_text
    {
        display: none;
    }
}

/*  Overlay test  */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}