.navbar-icon-btns
{
    color: #A83333;
    margin-top: 10px;
    font-size: 100;
    margin-left: 15px;
}

.modal-list-items
{
    padding: 0;
    text-align: left;
    list-style: none;
}

input[type="checkbox"]
{
    width: 30px;
}

.remove-keyword-x
{
    float: right;
    cursor: pointer;
}

.completed
{
    text-decoration: line-through;
}

@media (min-width:768px) and (max-width:850px)
{
    #search_and_filter_nav_text
    {
        display: none;
    }
    #messages_nav_text
    {
        display: none;
    }
    #notifications_nav_text
    {
        display: none;
    }
    #jobs_nav_text
    {
        display: none;
    }
}

li.sign-up-for-service { list-style-type: none; }

.listing-service, .bookmarkers, .highlighted-icon { color: #A83333; }

.modal-body-title { font-size: 1.5em; margin-bottom: 20px; }

pre, .template-body { font-family: 'PT Sans', sans-serif; font-size: 10pt; }

.bid-message-items:hover>li {
  background-color: #e8e8e8;
}

.warning-red {
  color: #A83333;
  font-weight: bolder;
}

.tbl-cols { width: 15%; }
.tbl-last-col { width: 45%; }

/* .action-btns { border-radius: 50%; width: 32px; height: 32px; } */
/* .action-btns:hover { -webkit-box-shadow: 0 0 5px 0 #E02F2F; box-shadow: 0 0 5px 0 #E02F2F; } */

/****************************/
/* The side navigation menu */
/****************************/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden; /* Disable horizontal scroll */
/*     padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* Pulling in drawer styling from Bootstrap-drawer.js */
.drawer-contents,
.drawer-heading,
.drawer-body,
.drawer-nav,
.drawer-footer,
.drawer ul,
.drawer li {
  display: inherit;
  margin: 0;
  width: 100%;
  position: relative;
}

.drawer-inside {
  position: absolute;
}

.drawer-controls {
  float: right;
  margin-right: -16.66666667%;
  padding: 10px;
  height: 100%;
  position: relative;
  width: 16.66666667%;
  z-index: 500;
}

.drawer-contents {
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.drawer-heading {
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 15px;
  color: inherit;
}

.drawer-title {
  margin-top: 0;
  margin-bottom: 0;
}

.drawer-inner-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.drawer-body,
.drawer-nav {
  padding: 10px 15px;
}

.drawer-nav,
.drawer-fullnav {
  padding: 10px 15px;
  margin-bottom: 0;
  list-style: none;
}

.drawer-nav li,
.drawer-fullnav li {
  position: relative;
  margin-bottom: 5px;
}

.drawer-nav li a,
.drawer-fullnav li a {
  color: #777;
  border-radius: 4px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.drawer-nav li.active a,
.drawer-fullnav li.active a,
.drawer-nav li a:hover,
.drawer-fullnav li a:hover,
.drawer-nav li a:focus,
.drawer-fullnav li a:focus {
  color: #515151;
  text-decoration: none;
  background-color: #ffffff;
}

.drawer-fullnav {
  color: #fff;
  padding: 0;
}

.drawer-fullnav li {
  margin-bottom: 0;
}

.drawer-fullnav li a {
  border-radius: 0;
}

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover, .offcanvas a:focus {
  color: firebrick;
} */

/* Position and style the close button (top right corner) */
/* .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Additional table styles */
.table { font-size: 1.5rem; }

/* Drawer settings */
.drawer-settings:hover { color: firebrick; }

#sidebar {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}

@media (min-width: 992px) {
  .collapsed {
    display: block;
    /* same width as sidebar */
    margin-left: -25%;
  }
}

#row-main {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
}

#listings {
  /* for the animation */
  transition: width 0.3s ease;
}