<!DOCTYPE html>
<html>

<head>
  <title>Pixxlyjobfinder</title>
  <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dosis|Istok+Web|Nunito" rel="stylesheet">
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css" integrity="sha256-X/mlyZAafJ8j5e74pWh4+qNUD1zurCvLA6hODVobQX0=" crossorigin="anonymous" /> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body style="color: #555555;" class="has-drawer">
  <div id="overlay" onclick="off()"></div>
  <div style="display: flex; flex-direction: row; align-items: center;">
    <h1><%= link_to @root_path do %>
    <%= image_tag "pixxly-job-finder-logo.png", style: "width: 140px; margin: 0 10px 0 50px;" %>
    <% end %></h1>
    
    <div id="stats_container" style="margin: 15px 0 0 110px;">
     <span style="margin-right: 20px;"><strong>Jobs today:</strong>&nbsp;<%= number_with_delimiter(@added_today) %></span>
     <span style="margin-right: 20px;"><strong>Jobs available:</strong>&nbsp;<%= number_with_delimiter(@currently_available) %></span>
     <span style="margin-right: 20px;"><strong>Total processed:</strong>&nbsp;<%= number_with_delimiter(@processed) %></span>
    </div>
  </div>
  
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="pull-right" href="#" data-toggle="modal" data-target="#account_modal">
            <span class="fa fa-cog"></span>&nbsp;
            <%= current_user.email %>
          </a>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: "delete" do %>
            <span class="fa fa-sign-out"></span>&nbsp;Log out
            <% end %>
        </li>
      </ul>
      <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_page?(listings_path) || current_page?(root_path) %>
          <li>
            <a href="#filter_drawer" data-toggle="drawer">
              <span class="fa fa-navicon"></span>
              <span id="search_and_filter_nav_text" onclick="toggleDrawer()">&nbsp;Search & Filter</span>
            </a>
          </li>
          <% end %>
          <li>
            <a href="#" data-toggle="modal" data-target="#messages_modal">
              <span class="fa fa-envelope-o"></span>
              <span id="messages_nav_text">&nbsp;Notifications</span>&nbsp;<span class="badge" id="incoming_message_count"><%= @incoming_messages.count if @incoming_messages.count > 0 %></span>
            </a>
          </li>
          <%- # Show the "Jobs" menu only if we are looking at listings. -%>
          <% if current_page?(listings_path) || current_page?(root_path) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-wrench"></i>
              <span id="jobs_nav_text">&nbsp;Jobs</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#" id="bid_on_bookmarked_btn" data-bulk="true">Bid on All Bookmarked Bulk Apply</a>
<!--                 <a href="#" id="bid_on_bookmarked_btn" data-target="#job_bid_message_modal" data-toggle="modal" data-bulk="true">Bid on All Bookmarked Bulk Apply</a> -->
              </li>
              <li>
                <a href="#" data-toggle="modal" data-target="#message_templates_modal">Message Templates</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Job Bid Report", job_bids_path %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Export Current Page as .csv", listings_path(format: "csv") %>
              </li>
              <li>
                <%= link_to "Export All Jobs as .csv", "all_listings.csv" %>
              </li>
            </ul>
          </li>
          
          <li>
            <a href="#" id="bookmarks_nav_toggle_link"><span class="fa fa-bookmark-o"></span>&nbsp;<span id="bookmark_nav_text">&nbsp;<% if @settings[:bookmarks].to_s === "true" %>Show All Listings<% else %>Show Only Bookmarked<% end %></span></a>
          </li>
          <% end %>
          
          <% unless current_page?(listings_path) || current_page?(root_path) %>
            <li>
              <%= link_to listings_path do %>
                <span class="fa fa-home"></span>&nbsp;View Job Listings
                <% end %>
            </li>
            <% end %>
          
          <li>
            <% unless (@tokens.include? 1) && (@tokens.include? 3) %>
              <a href="javascript:void(0);" data-toggle="modal" data-target="#token_modal" style="color: firebrick;" title="You'll need to connect Pixxly Job Finder to Reddit and Twitter to use Bulk Applying."><span class="fa fa-plug"></span>&nbsp;Connect to Services</a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= flash_messages %>
  </div>
  
  <% if current_page?(listings_path) || current_page?(root_path) %>
    <%= render "partials/search_filter_sidebar" %>
  <% end %>
  
  <div id="main">
  <%= yield %>
    <% unless (@tokens.include? 1) && (@tokens.include? 3) %>
    <%-## No need to include UpWork until their API gets sorted. -%>
    <%-# unless (@tokens.include? 1) && (@tokens.include? 2)  && (@tokens.include? 3) -%>
    
    <%#= render "partials/welcome_modal" %>
    
    <% end %>
    
    <%= render "partials/renew_tokens_modal" %>
    <%= render "partials/message_templates_modal" %>
    <%= render "partials/job_bid_report_modal" %>
    <%= render "partials/account_modal" %>
    <%= render "partials/notifications_modal" %>
    <%= render "partials/messages_modal" %>
    <%= render "partials/job_bid_message" %>
    </div>
    
  
    <!-- Script templates -->
    <script type="text/template" id="listing_tmpl">
      <div class="row">
        <div class="col-md-12">
          <small class="listing-service"></small><span class="bulk-supported"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <span class="save-listing" data-id=""><span class="fa fa-bookmark-o bookmarkers"></span></span>
          <a class="listing-link listing-title" href="" target="_BLANK"></a>
        </div>
        <div class="col-md-3">
          <span class="pull-right listing-date"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <pre class="listing-desc"></pre>
        </div>
      </div>
    </script>
    <!-- End script templates -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.rawgit.com/AndreaLombardo/BootSideMenu/master/js/BootSideMenu.js"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.iife.min.js" integrity="sha256-ZXg72BEfPkGcWiAualdfLU4jSEj7sabDa40wc+V9RKg=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
</body>
</html>